body {
  background-color: rgb(245, 245, 205);
}

header {
  padding: 20px;
}

p {
  padding: 10px;
}

ul {
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 100px;
  list-style-type: disc;
  line-height: 1.3em;
  
}