body {
  background-color: rgb(245, 245, 205);
}

header {
  padding: 20px;
}

th {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  font-weight: bold;
}

td {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}